$primay : #03A9F4;
$accent: #9CF6F6;
$accentTwo: #B5D6D6;
$highlighter:#eb6e34;
.badge-info {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
}
.highlight {
  text-transform: uppercase;
  background-color: $highlighter;
  color: white;
  padding: 2px 10px;
}
