<!--website-wrap-->
<div class="website-wrap">
    <!--webpage-->
    <div class="webpage page-new-home">
        <!--home-banner-wrap-->
        <section class="home-banner-wrap">
            <div class="home-banner">
                <div class="container">
                    <div class="row home-banner-row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 home-banner-left-col">
                            <div class="home-banner-left">
                                <h2 class="home-heading-double text-left">
                                    <span class="hhd-top">#Rewrite </span>
                                    <span class="hhd-bottom">Your career story</span>
                                </h2>
                                <div class="home-banner-right d-none-md">
                                    <img src="assets/images/Homepage/a3843e404a271edb47b1908dd2a6230b.gif" alt="">
                                </div>
                                <p>
                                    Transform your career through our wide assortment of specialized consulting services
                                    to help you choose the right path. Make the most of the expertise of our trusted
                                    consultants to chart out the ideal steps for developing your career in the field you
                                    choose!
                                </p>
                                <div class="banner-btn">
                                    <a routerLink="/courses" mat-raised-button class="common-btn slowHover">View
                                        Courses</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12 home-banner-right-col d-none-xs">
                            <div class="home-banner-right">
                                <img src="assets/images/Homepage/a3843e404a271edb47b1908dd2a6230b.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--home-banner-->
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-banner-wrap-->

        <!--new-home-career-path-->
        <section class="new-home-career-path">
            <div class="container">
                <h2 class="home-heading-single text-center">#Career Path - How it works</h2>
                <div class="career-path-wrap">
                    <div class="career-path-box">
                        <div class="career-path-steps">
                            <span>1</span>
                        </div>
                        <div class="career-path-content">
                            <h4>Set up an appointment</h4>
                            <p>
                                Call/Email us to fix a appointment with our career advisor to do a thorough scan of your
                                profile.
                            </p>
                        </div>
                    </div>
                    <!--career-path-box-->
                    <div class="career-path-box">
                        <div class="career-path-steps">
                            <span>2</span>
                        </div>
                        <div class="career-path-content">
                            <h4>Enroll & Learn</h4>
                            <p>
                                After picking a right path , just enroll and follow our extensive training on the
                                subject.
                            </p>
                        </div>
                    </div>
                    <!--career-path-box-->
                    <div class="career-path-box">
                        <div class="career-path-steps">
                            <span>3</span>
                        </div>
                        <div class="career-path-content">
                            <h4>Job Assistance</h4>
                            <p>
                                Right after program, we will help you with interview and job assistance till you get
                                placed.
                            </p>
                        </div>
                    </div>
                    <!--career-path-box-->
                </div>
                <!--career-path-wrap-->
                <!--watch-video-->
                <div class="watch-video text-center">
                    <a href="#" class="slowHover"><img src="assets/images/icon-play.png" width="34" alt=""> <span>Watch
                            how it works!</span></a>
                </div>
                <!--watch-video-->
            </div>
        </section>
        <!--new-home-career-path-->

        <!--home-advantage-->
        <section class="home-advantage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-left-col">
                        <div class="home-advantage-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-left">
                                    <div class="ha-boxes-wrap">
                                        <app-icon-card variant="icon" title="World’s Best Trainers" description="Our best world-class instructors provide you the assurance of professional training and
prepare you for different career roles through digital learning." imgUrl="assets/images/new-home-best-teachers.png">
                                        </app-icon-card>
                                        <app-icon-card variant="icon" title="A Great Community" description="The Pragra Community is the foremost advantage for learners to interact with other
learners and qualified professionals and get adequate support." imgUrl="assets/images/new-home-great-community.png">
                                        </app-icon-card>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-right">
                                    <div class="ha-boxes-wrap">
                                        <app-icon-card variant="icon" title="Huge Class Library" description="The massive library of courses pertaining to different domains offers credible
opportunities to make a choice as per requirement and convenience." imgUrl="assets/images/new-home-huge-library.png">
                                        </app-icon-card>
                                        <app-icon-card variant="icon" title="Most Affordable" description="The availability of our courses at really affordable prices makes it easier for you to get
hands on it and achieve your career aspirations easily." imgUrl="assets/images/new-home-affordable.png">
                                        </app-icon-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--home-advantage-left-->
                        <div class="home-advantage-mobile d-none-md">
                            <p>
                                At Pragra, you can find a radically innovative solution for professional training. Our
                                customized learning solutions and delivery systems, along with credible hands-on and
                                on-site assignments, can prepare you for the career of your choice.
                            </p>
                            <div class="more-about-us-btn text-right text-xs-center">
                                <a href="#" class="common-btn slowHover">More About Us!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-right-col">
                        <div class="home-advantage-right">
                            <h2 class="home-heading-double text-right">
                                <span class="hhd-top">The Pragra</span>
                                <span class="hhd-bottom">Advantage</span>
                            </h2>
                            <p class="d-none-xs">
                                Pragra combines digital age learning solutions with traditional delivery, with hands-on
                                and on-job assignments to get you right experience.
                            </p>
                            <div class="more-about-us-btn text-right text-xs-center d-none-xs">
                                <a href="#" class="common-btn slowHover">More About Us!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--home-advantage-->


        <!--home-learning-->
        <section class="home-learning new-home-consulting-services">
            <div class="container">
                <h2 class="home-heading-single text-center">Consulting Services</h2>
                <div class="home-learning-boxes">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
                            <app-icon-card variant="image" title="Digital Marketing" description="Explore and learn new approaches for achieving optimal outcomes from the digital
marketing channels with our experts. Find out the best practices for leveraging digital
marketing as a promising tool to help businesses sustain the competitive advantage."
                                imgUrl="assets/images/Homepage/21249 1.png">
                            </app-icon-card>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
                            <app-icon-card variant="image" title="Design & Development" description="Looking for a significant career option in design and development? Enhance your technical
skills to become the best professional in design and development, demonstrate your
credibility to the employers and get one level ahead in your career."
                                imgUrl="assets/images/Homepage/343320-PALLZR-795 1.png">
                            </app-icon-card>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
                            <app-icon-card variant="image" title="Quality Assurance" description="We can offer you best-in-class consultancy services for analyzing quality assurance of
the digital Solutions. Learn how to create the ideal strategy for frequent monitoring and
regular inspections to keep business solutions up-to-date." imgUrl="assets/images/Homepage/4782 1.png">
                            </app-icon-card>
                        </div>
                    </div>
                </div>
                <!--home-learning-boxes-->
                <div class="new-home-consulting-services-bottom text-center">
                    <p>
                        Does your career need an upgrade for coping with digital transformation? We can help
                        you find the right trajectory with the help of our consulting services.
                    </p>
                    <div class="new-home-consulting-services-btn">
                        <a href="#" class="common-btn slowHover">Learn More</a>
                    </div>
                </div>
                <!--new-home-consulting-services-bottom-->
            </div>
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-learning-->

        <!--home-statistics-->
        <section class="home-statistics new-home-placement">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-statistics-left-col">
                        <div class="home-statistics-left">
                            <h2 class="home-heading-double text-left">
                                <span class="hhd-top">Assured Placement <span class="badge-info badge-pill">*</span> </span>
                                <span class="hhd-bottom">or Get Refund</span>
                            </h2>
                            <p>
                                Your career is our foremost priority. We are dedicated to helping you search for a
                                career
                                in your preferred domain. If we fail to get you a job, you can ask for a full refund for
                                your
                                tuition.
                            </p>
                            <p>
                                With a track record of 95% placement in just two months for over 20+ career paths, we
                                can surely promise a better career for every learner.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-statistics-right-col">
                        <div class="home-statistics-right text-right">
                            <img src="assets/images/Homepage/4457 1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row home-statistics-counters text-center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 home-statistics-counters-col">
                        <div class="hsc-counters">
                            <h4 class="timer count-number" data-to="20" data-speed="1500"></h4>
                            <p>Career Tracks</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 home-statistics-counters-col">
                        <div class="hsc-counters">
                            <h4 class="timer count-number" data-to="100" data-speed="1500"></h4>
                            <p>Placements</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 home-statistics-counters-col">
                        <div class="hsc-counters">
                            <h4 class="timer count-number" data-to="95" data-speed="1500"></h4>
                            <p>Placed in 2 months</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--home-statistics-->
        <!--new-home-courses-->
        <section class="new-home-courses">
            <div class="container">
                <div class="new-home-courses-top">
                    <h2 class="home-heading-single text-center">Our Courses</h2>
                    <p>
                        Pragra offers a number of training courses in different areas of technology, catering to
                        the diverse aspirations of candidates. You can avail the following features in our
                        courses.
                    </p>
                    <ul>
                        <li>Available anytime, anywhere</li>
                        <li>Traditional delivery approach</li>
                        <li>Hands-on assignments</li>
                        <li>On-job exercises</li>
                        <li>On-demand videos</li>
                        <li>Expert support</li>
                    </ul>
                </div>
                <!--new-home-courses-top-->
                <div class="new-home-courses-slider-wrap">
                    <div id="owl-new-home-courses-slider" class="owl-carousel">
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center top-left-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-cloud.png">
                                        </div>
                                        <h5>Cloud & Devops</h5>
                                        <p>5 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-1 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center top-right-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-business.png">
                                        </div>
                                        <h5>Business analysis</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-2 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center bottom-right-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-testing.png">
                                        </div>
                                        <h5>Testing</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-3 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center bottom-left-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-java.png">
                                        </div>
                                        <h5>JAVA</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-4 ends-->

                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center top-left-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-web.png">
                                        </div>
                                        <h5>Web & Mobile</h5>
                                        <p>5 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-5 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center top-right-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-data.png">
                                        </div>
                                        <h5>Data Science</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-6 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center bottom-right-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-sap.png">
                                        </div>
                                        <h5>SAP</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-7 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center bottom-left-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-project.png">
                                        </div>
                                        <h5>Project Management</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-8 ends-->
                        <div class="item">
                            <div class="courses-slider-box">
                                <a href="#">
                                    <div class="courses-slider-box-in text-center top-left-circle">
                                        <div class="courses-slider-img">
                                            <img src="assets/images/course-machine.png">
                                        </div>
                                        <h5>Machine Learning</h5>
                                        <p>2 Certificates</p>
                                    </div>
                                </a>
                            </div>
                            <!--courses-slider-box-->
                        </div>
                        <!--item-9 ends-->
                    </div>
                    <!--owl-carousel ends-->
                </div>
                <!--new-home-courses-slider-wrap-->
                <div class="browse-all-courses-btn text-center">
                    <a routerLink="/courses" class="common-btn slowHover">Browse All Courses</a>
                </div>
            </div>
        </section>
        <!--new-home-courses-->

        <!--new-home-best-mentors-->
        <section class="new-home-best-mentors">
            <div class="container">
                <div class="best-mentors-top">
                    <h2 class="learning-path-heading text-left">Our Team of Best Mentors</h2>
                    <p>
                        The major share of our effectiveness depends on our mentors. Our qualified and highly
                        experienced mentors can help you navigate through your chosen career path. They are
                        always ready to help you clear your doubts with a smile on their face. With our mentors,
                        your learning journey would get a lot simpler, engaging, and productive.
                    </p>
                </div>
                <div class="new-home-best-mentors-wrap">
                    <div id="owl-new-home-best-mentors" class="owl-carousel">
                        <app-mentor-card [avatar]="'assets/images/mentor2.png'" [isOdd]="true"></app-mentor-card>
                        <app-mentor-card [avatar]="'assets/images/mentor2.png'" [isOdd]="false"></app-mentor-card>
                        <app-mentor-card [avatar]="'assets/images/mentor2.png'" [isOdd]="true"></app-mentor-card>
                        <app-mentor-card [avatar]="'assets/images/mentor2.png'" [isOdd]="false"></app-mentor-card>
                        <app-mentor-card [avatar]="'assets/images/mentor2.png'" [isOdd]="true"></app-mentor-card>
                        <app-mentor-card [avatar]="'assets/images/mentor2.png'" [isOdd]="false"></app-mentor-card>
                    </div>
                    <!--owl-carousel ends-->
                </div>
                <!--new-home-courses-slider-wrap-->

            </div>
        </section>
        <!--new-home-best-mentors-->

        <!--new-home-industry-expert-->
        <section class="home-statistics new-home-placement new-home-industry-expert">
            <div class="container">
                <div class="row industry-expert-row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 industry-expert-left-col d-none-xs">
                        <div class="home-statistics-right text-left">
                            <img src="assets/images/Homepage/4457 2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 industry-expert-right-col">
                        <div class="home-statistics-left">
                            <h2 class="home-heading-double text-right">
                                <span class="hhd-top">Content created by </span>
                                <span class="hhd-bottom">industry experts</span>
                            </h2>
                            <div class="home-statistics-right text-center d-none-md">
                                <img src="assets/images/Homepage/4457 2.png" alt="">
                            </div>
                            <p>
                                Our training courses are tailored by industry experts with proficiency in the concerned
                                subject matter. The flexible organization of topics in each course and the facility of
                                simple explanation to ease your learning are prominent advantages contributed by the
                                industry experts.
                            </p>
                            <div class="view-courses-btn text-right text-xs-center">
                                <a href="#" class="common-btn slowHover">View Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row project-training-row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 project-training-left-col">
                        <div class="home-statistics-left">
                            <h2 class="home-heading-double text-left">
                                <span class="hhd-top">Hands on live </span>
                                <span class="hhd-bottom">project training</span>
                            </h2>
                            <div class="home-statistics-right text-center d-none-md">
                                <img src="assets/images/Homepage/4457 3.png" alt="">
                            </div>
                            <p>
                                Candidates can find the hands-on live project training of our training courses helpful
                                to
                                prepare for their job roles in their preferred career domains. Our mentors and
                                instructors
                                will guide you through each step for ensuring that you are comprehensively prepared for
                                different promising job opportunities.
                            </p>
                            <div class="view-courses-btn text-left text-xs-center">
                                <a href="#" class="common-btn slowHover">View Courses</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 project-training-right-col d-none-xs">
                        <div class="home-statistics-right text-right">
                            <img src="assets/images/project-training-img.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--new-home-industry-expert-->

        <!--new-home-corporate-training-->
        <section class="new-home-corporate-training">
            <div class="container">
                <h2 class="home-heading-single text-center">Our Corporate training</h2>
                <div class="corporate-training-assets/images">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 corporate-training-left-col">
                            <div class="corporate-training-img-box">
                                <img src="assets/images/Homepage/2083 1.png">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 corporate-training-center-col">
                            <div class="corporate-training-img-box">
                                <img src="assets/images/Homepage/417208-PD794A-200 1.png">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 corporate-training-right-col">
                            <div class="corporate-training-img-box">
                                <img src="assets/images/Homepage/3367 1.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!--corporate-training-assets/images-->
                <div class="corporate-training-mobile-slider">
                    <div id="owl-corporate-training-mobile-slider" class="owl-carousel">
                        <div class="item">
                            <div class="corporate-training-img-box">
                                <img src="assets/images/corporate-training1.png">
                            </div>
                        </div>
                        <!--item1-->
                        <div class="item">
                            <div class="corporate-training-img-box">
                                <img src="assets/images/corporate-training2.png">
                            </div>
                        </div>
                        <!--item2-->
                        <div class="item">
                            <div class="corporate-training-img-box">
                                <img src="assets/images/corporate-training3.png">
                            </div>
                        </div>
                        <!--item3-->
                    </div>
                    <!--corporate-training-mobile-slider-->
                </div>

                <div class="corporate-training-bottom text-center">
                    <p>
                        We, at Pragra, also cater to the professional training needs of corporate with the
                        assurance of promising results. Improve the productivity of your business by
                        strengthening the technical acumen of your workforce through professional technical
                        training.
                    </p>
                    <a href="#" class="common-btn slowHover">Learn More</a>
                </div>
                <!--corporate-training-bottom-->
            </div>
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--new-home-corporate-training-->

        <!--new-home-succeed-->
        <section class="new-home-succeed text-center">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">We Only succeed </span>
                    <span class="hhd-bottom">when you do!</span>
                </h2>
                <div class="new-home-succeed-box">
                    <img src="assets/images/home-succeed-stars.png" class="home-succeed-stars" alt="">
                    <img src="assets/images/home-succeed-image.png" class="home-succeed-image" alt="">
                    <p>
                        Don’t just take our word for it. Check out student testimonies or check out 5 star reviews on
                        these trusted sites
                    </p>
                </div>
                <!--new-home-succeed-box-->
                <div class="new-home-partners">
                    <ul>
                        <li><a href="#" target="_blank"><img src="assets/images/home-google.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/home-course-report.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/home-facebook.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/home-course-compare.png" alt=""></a>
                        </li>
                        <li><a href="#" target="_blank"><img src="assets/images/home-switchup.png" alt=""></a></li>
                    </ul>
                </div>
                <!--new-home-partners-->
            </div>
        </section>
        <!--new-home-succeed-->



        <!--testimonials-->
        <section class="testimonials">
            <div class="container">
                <h2 class="home-heading-single text-center">Testimonials</h2>
                <div class="testimonials-desktop">
                    <div id="owl-testimonials-desktop-slider" class="owl-carousel">
                        <div class="item">
                            <div class="item-box">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial1.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Saras Gupta</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial2.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Dwane Johnson</h4>
                                                    <p>PHP Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial3.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Ken Leo</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial4.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Samantha Roberts</h4>
                                                    <p>UX Designer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="item-box">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial1.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Saras Gupta</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial2.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Dwane Johnson</h4>
                                                    <p>PHP Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial3.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Ken Leo</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial4.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Samantha Roberts</h4>
                                                    <p>UX Designer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-2-->
                    </div>
                    <!--owl-testimonials-desktop-slider-->
                    <div class="test-view-more text-center">
                        <a href="#" class="view-more-btn-link">View More</a>
                    </div>
                </div>
                <!--testimonials-desktop-->
                <!--testimonials-mobile-->
                <div class="testimonials-mobile">
                    <div id="owl-testimonials-mobile-slider" class="owl-carousel">
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial1.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Saras Gupta</h4>
                                        <p>JAVA Developer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial2.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Dwane Johnson</h4>
                                        <p>PHP Developer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial3.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Ken Leo</h4>
                                        <p>JAVA Developer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial4.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Samantha Roberts</h4>
                                        <p>UX Designer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                    </div>
                    <!--owl-testimonials-mobile-slider-->
                    <div class="test-view-more text-center">
                        <a href="#" class="view-more-btn-link">View More</a>
                    </div>
                </div>
                <!--testimonials-mobile-->
            </div>
        </section>
        <!--testimonials-->
        <app-contact-us-form></app-contact-us-form>