<!--home-advantage-->
<section class="home-advantage">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-left-col">
        <div class="home-advantage-left">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-left">
              <div class="ha-boxes-wrap">
                <app-icon-card variant="icon" title="Industry Experts"
                               description="Learn from experience of Industry Experts"
                               imgUrl="assets/images/new-home-best-teachers.png">
                </app-icon-card>
                <app-icon-card variant="icon" title="A Great Community"
                               description="Interact with qualified professionals and get adequate support"
                               imgUrl="assets/images/new-home-great-community.png">
                </app-icon-card>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-right">
              <div class="ha-boxes-wrap">
                <app-icon-card variant="icon" title="Huge Class Library"
                               description="The massive library of courses pertaining to different domains"
                               imgUrl="assets/images/new-home-huge-library.png">
                </app-icon-card>
                <app-icon-card variant="icon" title="Affordable"
                               description="Flexible payment options for your needs"
                               imgUrl="assets/images/new-home-affordable.png">
                </app-icon-card>
              </div>
            </div>
          </div>
        </div>
        <!--home-advantage-left-->
        <div class="home-advantage-mobile d-none-md">
          <p>
            At Pragra, you can find a radically innovative solution for professional training. Our
            customized learning solutions and delivery systems, along with credible hands-on and
            on-site assignments, can prepare you for the career of your choice.
          </p>
          <div class="more-about-us-btn text-right text-xs-center">
            <a routerLink="/about-us" class="common-btn slowHover">More About Us!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-right-col">
        <div class="home-advantage-right">
          <h2 class="home-heading-double text-right">
            <span class="hhd-top">The Pragra</span>
            <span class="hhd-bottom">Advantage</span>
          </h2>
          <p class="d-none-xs">
            Pragra combines digital age learning solutions with traditional delivery, with hands-on
            and on-job assignments to get you right experience.
          </p>
          <div class="more-about-us-btn text-right text-xs-center d-none-xs">
            <a routerLink="/about-us" class="common-btn slowHover">More About Us!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

