<!--website-wrap-->
<div class="website-wrap">

    <!--webpage-->
    <div class="webpage page-about-us">
        <!--home-banner-wrap-->
        <section class="home-banner-wrap">
            <div class="home-banner">
                <div class="container">
                    <div class="row home-banner-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-left-col">
                            <div class="home-banner-left">
                                <h2 class="home-heading-double text-left">
                                    <span class="hhd-top">Meet Pragra</span>
                                </h2>
                                <div class="home-banner-right d-none-md">
                                    <img src="assets/images/about-us-banner.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                                <div class="banner-btn">
                                    <a href="#" class="common-btn slowHover">View Gallery</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-right-col d-none-xs">
                            <div class="home-banner-right text-right">
                                <img src="assets/images/about-us-banner.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--home-banner-->
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-banner-wrap-->

        <!--we-approach-bootcamps-->
        <section class="we-approach-bootcamps">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="we-approach-box">
                            <h3>Who We Are?</h3>
                            <p>
                                Pragra is a leading technology company leveraging the power of AI and digital era to
                                automate your product development and test automation. We assist our customer to
                                optimize their process to maximize their profits/savings.

                            </p>
                            <p>
                                We strive to be thought leaders, not industry followers and always stay abreast of the
                                latest products, methods, and technology so you don’t have to. We nourished in our
                                People and their capability and our framework to support the achievement of high
                                performance, both from an individual and organizational perspective.
                            </p>
                            <p>
                                We have a proven track record of delivery and our focus is to partner with our clients
                                to understand their testing needs and help them put in place the right resourcing,
                                bootcamp or service solutions to meet their every unique requirement.
                            </p>
                        </div>
                        <!--we-approach-box-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="we-approach-box">
                            <h3>Our Approach</h3>
                            <p>
                                Pragra’s aim is to continue to grow as the best provider of independent testing and
                                assurance services with an emphasis on building a trust and being the place of choice
                                for test and assurance professionals to work.
                            </p>
                            <p>
                                We engage early to get the truest view we listen to every one. Our fieldwork is
                                non-judgmental and an opportunity for all participants to confidentially share their
                                honest perspectives. Every observation and recommendation is carefully considered and
                                backed by evidence.
                            </p>
                            <p>
                                We strive to be thought leaders, not industry followers and always stay abreast of the
                                latest products, methods, and technology so you can be worry-free. We believe in our
                                People and Capability framework to support the achievement of high performance, both
                                from an individual and organizational perspective.
                            </p>
                        </div>
                        <!--we-approach-box-->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="we-approach-box">
                            <h3>Our Bootcamps</h3>
                            <p>
                                IT industry is changing at a rapid pace and you need today’s skill to be a successful
                                professional. Your business need these skills to make use of latest technologies to
                                deliver seamless services to end consumer.
                            </p>
                            <p>
                                At Pragra, we have invested in our consultant to deliver the skills required in today’s
                                enterprise. Our consultants have delivered thousands of hours corporate and individual
                                bootcamp/program and shaped the career of hundreds of professionals.
                            </p>
                            <p>
                                Pragra follows the unique blend of methodology and assignment based program so you get
                                more out of it. Our programs are designed to help learners develop the skills and
                                professional network needed to capitalize on the demand for dynamic people required in
                                industry.
                            </p>
                        </div>
                        <!--we-approach-box-->
                    </div>
                </div>
            </div>
        </section>
        <!--we-approach-bootcamps-->

        <!--about-gallery-->
        <section class="about-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 about-gallery-col-left">
                        <div class="about-gallery-box about-gallery-box1">
                            <img src="assets/images/about-gallery1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 about-gallery-col-center">
                        <div class="about-gallery-box about-gallery-box2">
                            <img src="assets/images/about-gallery2.png" alt="">
                        </div>
                        <div class="about-gallery-box about-gallery-box3">
                            <img src="assets/images/about-gallery3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 about-gallery-col-right">
                        <div class="about-gallery-box about-gallery-box4">
                            <img src="assets/images/about-gallery4.png" alt="">
                        </div>
                        <div class="about-gallery-box about-gallery-box5">
                            <img src="assets/images/about-gallery5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about-gallery-->

        <!--our-motto-->
        <section class="our-motto">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Our Motto</span>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </section>
        <!--our-motto-->

        <!--hiring-partners-->
        <section class="hiring-partners">
            <div class="container">
                <h2 class="home-heading-double text-left">
                    <span class="hhd-top">Hiring Partners</span>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <div class="new-home-partners">
                    <ul>
                        <li><a href="#" target="_blank"><img src="assets/images/partners-google.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/partners-microsoft.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/partners-facebook.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/partners-apple.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/partners-amazon.png" alt=""></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/partners-getaround.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--hiring-partners-->

        <!--flexible-training-->
        <section class="home-learning flexible-training about-our-services">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Our Services</span>
                </h2>
                <div class="home-learning-boxes">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/about-services-courses.png" alt="">
                                </div>
                                <h4>Courses</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                                <div class="about-our-services-btn text-center">
                                    <a href="#" class="common-btn slowHover">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/about-services-corporate.png" alt="">
                                </div>
                                <h4>Corporate</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                                <div class="about-our-services-btn text-center">
                                    <a href="#" class="common-btn slowHover">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/about-services-consulting.png" alt="">
                                </div>
                                <h4>Consulting</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                                <div class="about-our-services-btn text-center">
                                    <a href="#" class="common-btn slowHover">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--home-learning-boxes-->

            </div>
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--flexible-training-->



        <!--trainers-profile-->
        <section class="trainers-profile meet-our-team">
            <div class="container">
                <h2 class="home-heading-double text-left text-xs-center">
                    <span class="hhd-top">Meet Our Team</span>
                </h2>
                <div class="trainers-profile-in">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer1.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer2.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer3.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer4.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer5.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer6.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer7.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer8.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                    </div>
                </div>
                <!--trainers-profile-in-->
            </div>
        </section>
        <!--trainers-profile-->
        <app-form></app-form>