<!--website-wrap-->
<div class="website-wrap">

    <!--webpage-->
    <div class="webpage page-courses">
        <!--home-banner-wrap-->
        <section class="home-banner-wrap">
            <div class="home-banner">
                <div class="container">
                    <div class="row home-banner-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-left-col">
                            <div class="home-banner-left">
                                <h1>Courses</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                                <div class="banner-btn">
                                    <a href="#" class="common-btn slowHover">View Courses</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-right-col">
                            <div class="home-banner-right">
                                <img src="assets/images/course/2085405 1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--home-banner-->
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-banner-wrap-->

        <!--home-advantage-->
        <section class="home-advantage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-left-col">
                        <div class="home-advantage-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-left">
                                    <div class="ha-boxes-wrap">
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/advantage-industry.png" width="100" alt="">
                                            </div>
                                            <h4>Industry Experts</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/advantage-cross-training.png" width="100"
                                                    alt="">
                                            </div>
                                            <h4>Cross Training</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-right">
                                    <div class="ha-boxes-wrap">
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/advantage-live.png" width="100" alt="">
                                            </div>
                                            <h4>Live Projects</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/advantage-online-lms.png" width="100" alt="">
                                            </div>
                                            <h4>Online LMS</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-right-col">
                        <div class="home-advantage-right">
                            <h2 class="home-heading-double text-right">
                                <span class="hhd-top">The Pragra</span>
                                <span class="hhd-bottom">Advantage</span>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--home-advantage-->

        <!--home-statistics-->
        <section class="home-statistics">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-statistics-left-col">
                        <div class="home-statistics-left">
                            <h2 class="home-heading-double text-left">
                                <span class="hhd-top">Some</span>
                                <span class="hhd-bottom">statistics</span>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-statistics-right-col">
                        <div class="home-statistics-right text-right">
                            <img src="assets/images/course/3304467 1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row home-statistics-counters text-center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="hsc-counters">
                            <h4 class="timer count-number" data-to="20" data-speed="1500"></h4>
                            <p>Instructors</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="hsc-counters">
                            <h4 class="timer count-number" data-to="50" data-speed="1500"></h4>
                            <p>Courses</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                        <div class="hsc-counters">
                            <h4 class="timer count-number" data-to="95" data-speed="1500"></h4>
                            <p>Students</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--home-statistics-->

        <!--home-learning-->
        <section class="home-learning">
            <div class="container">
                <h2 class="home-heading-single text-center">Convenient Learning Paths</h2>
                <div class="home-learning-boxes">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/course/21249 1.png" alt="">
                                </div>
                                <h4>Full-Time On-campus</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/course/343320-PALLZR-795 1.png" alt="">
                                </div>
                                <h4>Full-Time On-Remote</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/course/4782 1.png" alt="">
                                </div>
                                <h4>Part-time Flex-Remote</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-learning-->

        <!--home-online-class-->
        <section class="home-online-class">
            <div class="container">
                <div class="row hoc-top">
                    <div class="col-lg-6 col-md-4 col-sm-12 col-12 hoc-top-left">
                        <div class="hoc-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#online">Online</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#inclass">In Class</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 col-sm-12 col-12 hoc-top-right">
                        <div class="choose-category-wrap">
                            <div class="choose-category">
                                <div class="choose-category-field slowHover">
                                    Choose Category <span class="cat-icon"><i class="fas fa-chevron-down"></i></span>
                                </div>
                                <div class="choose-category-dropdown slowHover">
                                    <ul>
                                        <li><a href="#" class="slowHover">Cloud & Devops</a></li>
                                        <li><a href="#" class="slowHover">Business analysis</a></li>
                                        <li><a href="#" class="slowHover">Testing</a></li>
                                        <li><a href="#" class="slowHover">JAVA</a></li>
                                        <li><a href="#" class="slowHover">SAP</a></li>
                                        <li><a href="#" class="slowHover">Salesforce</a></li>
                                        <li><a href="#" class="slowHover">Web & Mobile</a></li>
                                        <li><a href="#" class="slowHover">Data Science</a></li>
                                        <li><a href="#" class="slowHover">Project Management</a></li>
                                        <li><a href="#" class="slowHover">Machine learning</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="hoc-bottom">
                    <div class="tab-content">
                        <div id="online" class="tab-pane active">
                            <div class="tab-content-box home-popular-courses">
                                <h3>Popular Courses...</h3>
                                <div class="popular-courses-wrap">
                                    <div id="owl-popular-courses-slider" class="owl-carousel">
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                    </div>
                                    <!--owl-carousel ends-->
                                </div>
                            </div>
                            <!--home-popular-courses-->
                            <!--home-introducing-courses-->
                            <div class="tab-content-box home-introducing-courses">
                                <h3>Introducing Courses...</h3>
                                <div class="popular-courses-wrap">
                                    <div id="owl-introducing-courses-slider" class="owl-carousel">
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                    </div>
                                    <!--owl-carousel ends-->
                                </div>
                            </div>
                            <!--home-cloud-devops-->
                            <div class="tab-content-box home-cloud-devops">
                                <h3>Cloud & Devops</h3>
                                <div class="popular-courses-wrap">
                                    <div id="owl-cloud-devops-slider" class="owl-carousel">
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                        <app-course-card></app-course-card>
                                    </div>
                                    <!--owl-carousel ends-->
                                </div>
                            </div>
                            <!--home-cloud-devops-->
                            <div class="load-more-btn text-left">
                                <a href="#" class="common-btn slowHover">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--home-online-class-->
        <app-contact-us-form></app-contact-us-form>
    </div>
    <!--webpage-->
</div>
<!--website-wrap-->