<!--website-wrap-->
<div class="website-wrap">

    <!--webpage-->
    <div class="webpage page-income-share-agreement">
        <!--home-banner-wrap-->
        <section class="home-banner-wrap">
            <div class="home-banner">
                <div class="container">
                    <div class="row home-banner-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-left-col">
                            <div class="home-banner-left">
                                <h2 class="home-heading-double text-left">
                                    <span class="hhd-top">Income Share</span>
                                    <span class="hhd-bottom">Agreement</span>
                                </h2>
                                <div class="home-banner-right d-none-md">
                                    <img src="assets/images/isa-banner.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                                <div class="banner-btn">
                                    <a href="#" class="common-btn slowHover">Download Info Package</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-right-col d-none-xs">
                            <div class="home-banner-right text-right">
                                <img src="assets/images/isa-banner.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--home-banner-->
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-banner-wrap-->

        <!--home-learning-->
        <section class="home-learning consulting-innovation isa-glance">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">ISA’s at a glance</span>
                </h2>
                <div class="home-learning-boxes">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/isa-glance1.png" alt="">
                                </div>
                                <h4>Pay 0% tuition until you land a high paying job</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/isa-glance2.png" alt="">
                                </div>
                                <h4>Monthly payments are based on what you earn</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/isa-glance3.png" alt="">
                                </div>
                                <h4>Stop paying once you have reached the cap</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--home-learning-boxes-->
            </div>
        </section>
        <!--home-learning-->

        <!--financial-partner-->
        <section class="financial-partner">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Our Financial Aid</span>
                    <span class="hhd-bottom">Partner</span>
                </h2>
                <div class="row financial-partner-row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12 financial-partner-left">
                        <div class="financial-partner-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 financial-partner-right">
                        <div class="financial-partner-img text-center">
                            <img src="assets/images/isa-windmill.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--financial-partner-->

        <!--calc-investment-->
        <section class="calc-investment">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 calc-investment-left">
                        <div class="calc-investment-img d-none-xs">
                            <img src="assets/images/calc-investment.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 calc-investment-right">
                        <div class="calc-investment-content">
                            <h2 class="home-heading-double text-center">
                                <span class="hhd-top">Calculate your</span>
                                <span class="hhd-bottom">ISA Investment</span>
                            </h2>
                            <div class="calc-investment-img d-none-md">
                                <img src="assets/images/calc-investment.png" alt="">
                            </div>
                            <form class="home-discuss-form">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="upfront">Enter Upfront Payment</label>
                                            <input type="text" placeholder="" name="upfront" id="upfront"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="invest">Total Ivestment</label>
                                            <input type="text" placeholder="" name="invest" id="invest"
                                                class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="discuss-form-button">
                                    <input type="submit" value="Calculate Total Investment" name="schedule"
                                        class="discuss-btn slowHover">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--calc-investment-->

        <!--isa-school-->
        <section class="isa-school">
            <div class="container">
                <div class="school-heading">
                    <h4>ISA’S FOR STUDENTS</h4>
                    <h2 class="home-heading-double text-center">
                        <span class="hhd-top">Pay for school once</span>
                        <span class="hhd-bottom">you get a job</span>
                    </h2>
                </div>
                <div class="school-boxes-wrap">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 school-boxes-left">
                            <div class="school-boxes">
                                <img src="assets/images/isa-school1.png" alt="">
                                <h5>No Debt, No Interest</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 school-boxes-center">
                            <div class="school-boxes">
                                <img src="assets/images/isa-school2.png" alt="">
                                <h5>No Co-Signer needed</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-12 school-boxes-right">
                            <div class="school-boxes">
                                <img src="assets/images/isa-school3.png" alt="">
                                <h5>Future-oriented and secure</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--isa-school-->


        <!--home-discuss-->
        <section class="home-discuss download-info-package">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-discuss-left-col">
                        <div class="home-discuss-left">
                            <h2 class="home-heading-double text-left">
                                <span class="hhd-top">Download Info </span>
                                <span class="hhd-bottom">Package</span>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commod
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-discuss-right-col">
                        <div class="home-discuss-right">
                            <form class="home-discuss-form">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="fullname">Full Name</label>
                                            <input type="text" placeholder="John Doe" name="name" id="fullname"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="email">Email ID</label>
                                            <input type="email" placeholder="Johndoe@gmail.com" name="email" id="email"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="phone">Phone number / Skype ID(if not in Canada)</label>
                                            <input type="text" placeholder="123-456-7890" name="name" id="phone"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="interest">City</label>
                                            <select class="form-control" id="interest">
                                                <option>Select one please</option>
                                                <option>City 1</option>
                                                <option>City 2</option>
                                                <option>City 3</option>
                                                <option>City 4</option>
                                                <option>City 5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="discuss-form-button">
                                            <input type="submit" value="Download Info Package" name="schedule"
                                                class="discuss-btn slowHover">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--home-discuss-->


        <!--faq-wrap-->
        <section class="faq-wrap isa-faq">
            <h2 class="home-heading-double text-center">
                <span class="hhd-top">FAQ’s</span>
            </h2>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse"
                                data-target="#collapseOne">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                <img src="assets/images/faq-arrow.png">
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseTwo">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                <img src="assets/images/faq-arrow.png">
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapseThree">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                <img src="assets/images/faq-arrow.png">
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--accordion-->
        </section>
        <!--faq-wrap-->
    </div>
    <!--webpage-->
</div>
<!--website-wrap-->