<!--home-discuss-->
<section class="home-discuss">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-discuss-left-col">
                <div class="home-discuss-left">
                    <h2 class="home-heading-double text-left">
                        <span class="hhd-top">Discuss with</span>
                        <span class="hhd-bottom">us!</span>
                    </h2>
                    <p>
                        Contact us right now with your needs for technical training in the areas of your choice.
                        We can sit and discuss the possible options that you can follow for approaching your
                        career path ahead or training your workforce for modern challenges in the world of
                        technology.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-discuss-right-col">
                <div class="home-discuss-right">
                    <form class="home-discuss-form">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="fullname">Full Name</label>
                                    <mat-form-field class="example-full-width mr-4" appearance="outline">
                                        <input matInput placeholder="John Doe">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="email">Email ID</label>
                                    <mat-form-field class="example-full-width" class="mr-4" appearance="outline">
                                        <input matInput placeholder="Johndoe@gmail.com">
                                    </mat-form-field>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 phone-col">
                                <div class="form-group">
                                    <label for="phone">Phone number / Skype ID</label>
                                    <mat-form-field class="example-full-width" class="mr-4" appearance="outline">
                                        <input matInput placeholder="123-456-7890">
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="interest">Area of interest</label>
                                    <mat-form-field class="mr-4 example-full-width" appearance="outline">
                                        <mat-select [(value)]="selected">
                                            <mat-option value="option0">Select one please</mat-option>
                                            <mat-option value="option1">Area of interest 1</mat-option>
                                            <mat-option value="option2">Area of interest 2</mat-option>
                                            <mat-option value="option3">Area of interest 3</mat-option>
                                            <mat-option value="option2">Area of interest 4</mat-option>
                                            <mat-option value="option3">Area of interest 5</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="interest">Message</label>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <textarea matInput placeholder="Write your message here."></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="discuss-form-button">
                                    <input type="submit" value="Schedule a Call" name="schedule"
                                        class="discuss-btn slowHover">
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--home-discuss-->