<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-search-col mobile-header-search">
                <div class="search-form-header">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Search for anything" name="search"
                            class="search-input slowHover">
                        <button type="submit" class="search-btn"></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-9 header-logo-col">
                <div class="header-logo">
                    <a href=""><img src="assets/images/logo.png" width="180" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-3 col-9 header-search-col desktop-header-search">
                <div class="search-form-header">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Search for anything" name="search"
                            class="search-input slowHover">
                        <button type="submit" class="search-btn"></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-7 col-md-1 col-sm-9 col-3 navigation-col">
                <div class="navigation">
                    <span class="mobile-close"><i class="fa fa-times"></i></span>
                    <div class="stellarnav">
                        <ul class="main-ul">
                            <li class="active"><a href="">Courses</a></li>
                            <li><a href="">Corporate</a></li>
                            <li><a href="">Consulting</a>
                                <!--<ul>
                                      <li><a href="">WEB DESIGN</a>
                                        <ul>
                                          <li><a href="">WEB DESIGN A</a></li>
                                        </ul>
                                      </li>
                                </ul> -->
                            </li>
                            <li><a href="">About Us </a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">FAQ</a></li>
                            <li class="nav-login"><a href="" class="nav-login-btn">Login</a></li>
                        </ul>
                    </div>
                    <!--stellarnav-->
                </div>
                <!--navigation-->
            </div>
            <!--navigation-col-->
        </div>
    </div>
</div>
<!--header-->