<div class="item">
    <div class="home-slider-box">
        <div class="home-slider-img">
            <a href="#"><img src="assets/images/introducing-courses.png" alt="image"></a>
            <span class="img-number">5.0</span>
        </div>
        <div class="home-slider-text">
            <h4><a href="#" class="slowHover">AWS Certified solution
                    Architect Associate</a></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunLorem ipsum dolor sit amet,
                consectetur adig
            </p>
            <div class="extra-details">
                <ul>
                    <li><a href="#"><i class="fas fa-user"></i> 3,045</a>
                    </li>
                    <li><a href="#"><i class="far fa-clock"></i> 43
                            hours</a></li>
                </ul>
            </div>
            <div class="home-slider-bottom">
                <div class="slider-bottom-left float-left">
                    <p>Online Only!</p>
                </div>
                <div class="slider-bottom-right float-right">
                    <p>$20</p>
                </div>
            </div>
        </div>
    </div>
    <!--home-slider-box-->
</div>