<!--website-wrap-->
<div class="website-wrap">

	<!--webpage-->
	<div class="webpage page-consulting">
		<!--home-banner-wrap-->
		<section class="home-banner-wrap">
			<div class="home-banner">
				<div class="container">
					<div class="row home-banner-row">
						<div class="col-lg-5 col-md-5 col-sm-12 col-12 home-banner-left-col">
							<div class="home-banner-left">
								<h2 class="home-heading-double text-left">
									<span class="hhd-top">Consulting</span>
								</h2>
								<div class="home-banner-right d-none-md">
									<img src="assets/images/consulting-banner.png" alt="">
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
								</p>
								<div class="banner-btn">
									<a href="#" class="common-btn slowHover">View Services</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-12 col-12 home-banner-right-col d-none-xs">
							<div class="home-banner-right text-right">
								<img src="assets/images/consulting-banner.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--home-banner-->
			<img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
		</section>
		<!--home-banner-wrap-->

		<!--mission-culture-process-->
		<section class="mission-culture-process">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-12">
						<div class="mcp-box">
							<h3>Our Mission</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-12">
						<div class="mcp-box">
							<h3>Our Culture</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-12">
						<div class="mcp-box">
							<h3>Our Process</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--mission-culture-process-->

		<!--our-consulting-services-->
		<section class="our-consulting-services">
			<div class="container">
				<h2 class="home-heading-single text-center">Our Consulting Services</h2>
				<div class="row digital-row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-1">
						<div class="digital-box text-xs-center">
							<img src="assets/images/our-consulting-services-digital.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-2">
						<div class="digital-box">
							<h3 class="black-heading text-left text-xs-center">
								Digital Marketing
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor
								sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod te mpor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur
							</p>
						</div>
					</div>
				</div>
				<!--digital-row-->
				<div class="row digital-row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-3">
						<div class="digital-box">
							<h3 class="black-heading text-left text-xs-center">
								Design & Development
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor
								sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod te mpor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-4">
						<div class="digital-box text-xs-center">
							<img src="assets/images/our-consulting-services-web.png" alt="">
						</div>
					</div>
				</div>
				<!--digital-row-->
				<div class="row digital-row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-5">
						<div class="digital-box text-xs-center">
							<img src="assets/images/our-consulting-services-quality.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-6">
						<div class="digital-box">
							<h3 class="black-heading text-left text-xs-center">
								Quality Assurance
							</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem
								ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
								labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor
								sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod te mpor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur
							</p>
						</div>
					</div>
				</div>
				<!--digital-row-->

			</div>
			<img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
		</section>
		<!--our-consulting-services-->

		<!--home-learning-->
		<section class="home-learning consulting-innovation">
			<div class="container">
				<h2 class="home-heading-double text-center">
					<span class="hhd-top">Consulting, Innovation,</span>
					<span class="hhd-bottom">Execution</span>
				</h2>
				<div class="home-learning-boxes">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
							<div class="home-learning-box text-center">
								<div class="hl-img">
									<img src="assets/images/consulting.png" alt="">
								</div>
								<h4>Consulting</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
							<div class="home-learning-box text-center">
								<div class="hl-img">
									<img src="assets/images/innovation.png" alt="">
								</div>
								<h4>Innovation</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
							<div class="home-learning-box text-center">
								<div class="hl-img">
									<img src="assets/images/execution.png" alt="">
								</div>
								<h4>Execution</h4>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--home-learning-boxes-->
			</div>
		</section>
		<!--home-learning-->

		<!--new-home-succeed-->
		<section class="new-home-succeed consulting-clients text-center">
			<div class="container">
				<h2 class="home-heading-double text-center">
					<span class="hhd-top">Some of our clients</span>
				</h2>
				<div class="new-home-partners">
					<ul>
						<li><a href="#" target="_blank"><img src="assets/images/client-bookjane.png" alt=""></a></li>
						<li><a href="#" target="_blank"><img src="assets/images/client-roundassist.png" alt=""></a></li>
						<li><a href="#" target="_blank"><img src="assets/images/client-allstate.png" alt=""></a></li>
						<li><a href="#" target="_blank"><img src="assets/images/client-cityfurnish.png" alt=""></a></li>
						<li><a href="#" target="_blank"><img src="assets/images/client-tech-mahindra.png" alt=""></a>
						</li>
					</ul>
				</div>
				<!--new-home-partners-->
			</div>
		</section>
		<!--new-home-succeed-->



		<!--testimonials-->
		<section class="testimonials">
			<div class="container">
				<h2 class="home-heading-single text-center">Testimonials</h2>
				<div class="testimonials-desktop">
					<div id="owl-testimonials-desktop-slider" class="owl-carousel">
						<div class="item">
							<div class="item-box">
								<div class="row">
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial1.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Saras Gupta</h4>
													<p>JAVA Developer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial2.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Dwane Johnson</h4>
													<p>PHP Developer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial3.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Ken Leo</h4>
													<p>JAVA Developer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial4.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Samantha Roberts</h4>
													<p>UX Designer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--item-1-->
						<div class="item">
							<div class="item-box">
								<div class="row">
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial1.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Saras Gupta</h4>
													<p>JAVA Developer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial2.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Dwane Johnson</h4>
													<p>PHP Developer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial3.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Ken Leo</h4>
													<p>JAVA Developer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="test-box">
											<div class="test-content">
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
													ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
													aliquip ex ea commod
												</p>
											</div>
											<div class="test-client-wrap">
												<div class="test-client">
													<img src="assets/images/testimonial4.png" alt="">
												</div>
												<div class="test-client-details">
													<h4>Samantha Roberts</h4>
													<p>UX Designer,<br>App Labs</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--item-2-->
					</div>
					<!--owl-testimonials-desktop-slider-->
					<div class="test-view-more text-center">
						<a href="#" class="view-more-btn-link">View More</a>
					</div>
				</div>
				<!--testimonials-desktop-->
				<!--testimonials-mobile-->
				<div class="testimonials-mobile">
					<div id="owl-testimonials-mobile-slider" class="owl-carousel">
						<div class="item">
							<div class="test-box">
								<div class="test-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
									</p>
								</div>
								<div class="test-client-wrap">
									<div class="test-client">
										<img src="assets/images/testimonial1.png" alt="">
									</div>
									<div class="test-client-details">
										<h4>Saras Gupta</h4>
										<p>JAVA Developer,<br>App Labs</p>
									</div>
								</div>
							</div>
						</div>
						<!--item-1-->
						<div class="item">
							<div class="test-box">
								<div class="test-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
									</p>
								</div>
								<div class="test-client-wrap">
									<div class="test-client">
										<img src="assets/images/testimonial2.png" alt="">
									</div>
									<div class="test-client-details">
										<h4>Dwane Johnson</h4>
										<p>PHP Developer,<br>App Labs</p>
									</div>
								</div>
							</div>
						</div>
						<!--item-1-->
						<div class="item">
							<div class="test-box">
								<div class="test-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
									</p>
								</div>
								<div class="test-client-wrap">
									<div class="test-client">
										<img src="assets/images/testimonial3.png" alt="">
									</div>
									<div class="test-client-details">
										<h4>Ken Leo</h4>
										<p>JAVA Developer,<br>App Labs</p>
									</div>
								</div>
							</div>
						</div>
						<!--item-1-->
						<div class="item">
							<div class="test-box">
								<div class="test-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
										nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
									</p>
								</div>
								<div class="test-client-wrap">
									<div class="test-client">
										<img src="assets/images/testimonial4.png" alt="">
									</div>
									<div class="test-client-details">
										<h4>Samantha Roberts</h4>
										<p>UX Designer,<br>App Labs</p>
									</div>
								</div>
							</div>
						</div>
						<!--item-1-->
					</div>
					<!--owl-testimonials-mobile-slider-->
					<div class="test-view-more text-center">
						<a href="#" class="view-more-btn-link">View More</a>
					</div>
				</div>
				<!--testimonials-mobile-->
			</div>
		</section>
		<!--testimonials-->

		<!--home-discuss-->
		<section class="home-discuss">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 home-discuss-left-col">
						<div class="home-discuss-left">
							<h2 class="home-heading-double text-left">
								<span class="hhd-top">Discuss with</span>
								<span class="hhd-bottom">us!</span>
							</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aliquip ex ea commod
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-12 home-discuss-right-col">
						<div class="home-discuss-right">
							<form class="home-discuss-form">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<label for="fullname">Full Name</label>
											<input type="text" placeholder="John Doe" name="name" id="fullname"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<label for="email">Email ID</label>
											<input type="email" placeholder="Johndoe@gmail.com" name="email" id="email"
												class="form-control">
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-12 phone-col">
										<div class="form-group">
											<label for="phone">Phone number / Skype ID(if not in Canada)</label>
											<input type="text" placeholder="123-456-7890" name="name" id="phone"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<label for="interest">Area of interest</label>
											<select class="form-control" id="interest">
												<option>Select one please</option>
												<option>Area of interest 1</option>
												<option>Area of interest 2</option>
												<option>Area of interest 3</option>
												<option>Area of interest 4</option>
												<option>Area of interest 5</option>
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<label for="interest">Message</label>
											<textarea class="form-control"
												placeholder="Write your message here."></textarea>
										</div>
										<div class="discuss-form-button">
											<input type="submit" value="Schedule a Call" name="schedule"
												class="discuss-btn slowHover">
										</div>

									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--home-discuss-->

		<!--footer-->