<section class="home-banner-wrap">
    <!--header-->
    <div class="home-banner">
        <div class="container">
            <div class="row home-banner-row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-left-col">
                    <div class="home-banner-left">
                        <h2>AWS Certified Solution Architect Associate</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud.
                        </p>
                        <div class="banner-btn">
                            <a href="#" class="common-btn slowHover">Apply Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-banner-right-col">
                    <div class="home-banner-right">
                        <img src="assets/images/AWS/30496 1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--home-banner-->
    <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
</section>
<!--home-banner-wrap-->