<section class="home-learning new-home-consulting-services">
  <div class="container">
    <h2 class="home-heading-single text-center">Consulting Services</h2>
    <div class="home-learning-boxes">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
          <app-icon-card variant="image" title="Digital Marketing" description="Explore and learn new approaches for achieving optimal outcomes from the digital
marketing channels with our experts. Find out the best practices for leveraging digital
marketing as a promising tool to help businesses sustain the competitive advantage."
                         imgUrl="assets/images/Homepage/21249 1.png">
          </app-icon-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
          <app-icon-card variant="image" title="Design & Development" description="Looking for a significant career option in design and development? Enhance your technical
skills to become the best professional in design and development, demonstrate your
credibility to the employers and get one level ahead in your career."
                         imgUrl="assets/images/Homepage/343320-PALLZR-795 1.png">
          </app-icon-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
          <app-icon-card variant="image" title="Quality Assurance" description="We can offer you best-in-class consultancy services for analyzing quality assurance of
the digital Solutions. Learn how to create the ideal strategy for frequent monitoring and
regular inspections to keep business solutions up-to-date." imgUrl="assets/images/Homepage/4782 1.png">
          </app-icon-card>
        </div>
      </div>
    </div>
    <!--home-learning-boxes-->
    <div class="new-home-consulting-services-bottom text-center">
      <p>
        Does your career need an upgrade for coping with digital transformation? We can help
        you find the right trajectory with the help of our consulting services.
      </p>
      <div class="new-home-consulting-services-btn">
        <a routerLink="/consulting" class="common-btn slowHover">Learn More</a>
      </div>
    </div>
    <!--new-home-consulting-services-bottom-->
  </div>
  <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
</section>
