<div class="test-box">
    <div class="test-content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commod
        </p>
    </div>
    <div class="test-client-wrap">
        <div class="test-client">
            <img src="assets/images/testimonial1.png" alt="">
        </div>
        <div class="test-client-details">
            <h4>Saras Gupta</h4>
            <p>JAVA Developer,<br>App Labs</p>
        </div>
    </div>
</div>