<!--website-wrap-->
<div class="website-wrap">
    <!--webpage-->
    <div class="webpage page-corporate">
        <!--home-banner-wrap-->
        <section class="home-banner-wrap">
            <!--header-->
            <div class="home-banner">
                <div class="container">
                    <div class="row home-banner-row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 home-banner-left-col">
                            <div class="home-banner-left">
                                <h2 class="home-heading-double text-left">
                                    <span class="hhd-top">Pragra-</span>
                                    <span class="hhd-bottom">Corporate</span>
                                </h2>
                                <h5>Your partner for training to upskill workforce</h5>
                                <div class="home-banner-right d-none-md">
                                    <img src="assets/images/corporate/2663543 1.png" alt="">
                                </div>
                                <p>
                                    Upskill or reskill your existing employees with Pragra Corporate Solution to deliver
                                    long-
                                    term business results. We are a pioneer in career transformation. And offering a
                                    wide
                                    range of skill development consulting and training programs in technology, data,
                                    marketing, design, and product.
                                </p>
                                <div class="banner-btn">
                                    <a href="#" class="common-btn slowHover">View Services</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12 home-banner-right-col d-none-xs">
                            <div class="home-banner-right text-right">
                                <img src="assets/images/corporate/2663543 1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--home-banner-->
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--home-banner-wrap-->

        <!--company-profile-->
        <section class="home-advantage company-profile">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-left-col">
                        <div class="home-advantage-left">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-left">
                                    <div class="ha-boxes-wrap">
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/corporate/photo-of-people-doing-handshakes-3184429 1.png"
                                                    width="100" alt="">
                                            </div>
                                        </div>
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/corporate/Rectangle 18.png" width="100" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12 ha-right">
                                    <div class="ha-boxes-wrap">
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/corporate/Rectangle 18-1.png" width="100"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="ha-box">
                                            <div class="ha-icon">
                                                <img src="assets/images/corporate/Rectangle 18-2.png" width="100"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more-about-us-btn text-right text-xs-center d-none-md">
                                <a href="#" class="common-btn slowHover">More About Us!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 home-advantage-right-col">
                        <div class="home-advantage-right">
                            <h2 class="home-heading-double text-right">
                                <span class="hhd-top">Company</span>
                                <span class="hhd-bottom">Profile</span>
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </p>
                            <div class="more-about-us-btn text-right text-xs-center d-none-xs">
                                <a href="#" class="common-btn slowHover">More About Us!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--company-profile-->

        <!--value-proposition-->
        <section class="value-proposition">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="value-proposition-left">
                            <h2 class="home-heading-double text-left text-xs-center">
                                <span class="hhd-top">Our Value</span>
                                <span class="hhd-bottom">Proposition</span>
                            </h2>
                            <ul class="common-list">
                                <li><strong>Lorem ipsum :</strong> dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt </li>
                                <li><strong>Lorem ipsum :</strong> dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt </li>
                                <li><strong>Lorem ipsum :</strong> dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt </li>
                                <li><strong>Lorem ipsum :</strong> dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt </li>
                                <li><strong>Lorem ipsum :</strong> dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt </li>
                                <li><strong>Lorem ipsum :</strong> dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt </li>
                            </ul>
                            <!--common-list-->
                        </div>
                        <!--value-proposition-left-->
                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="value-proposition-right">
                            <div class="value-icon-circle value-icon-top">
                                <div class="value-icon-circle-img">
                                    <img src="assets/images/value-upskill.png">
                                    <span>Upskill</span>
                                </div>
                            </div>
                            <!--value-icon-top-->
                            <div class="value-icon-circle value-icon-center-left">
                                <div class="value-icon-circle-img">
                                    <img src="assets/images/value-project.png">
                                    <span>Project Management</span>
                                </div>
                            </div>
                            <!--value-icon-center-left-->
                            <div class="value-icon-circle value-icon-center">
                                <div class="value-icon-circle-img">
                                    <img src="assets/images/value-leader.png">
                                    <span>Leader</span>
                                </div>
                            </div>
                            <!--value-icon-center-->
                            <div class="value-icon-circle value-icon-center-right">
                                <div class="value-icon-circle-img">
                                    <img src="assets/images/value-maximise.png">
                                    <span>Maximise</span>
                                </div>
                            </div>
                            <!--value-icon-center-right-->
                            <div class="value-icon-circle value-icon-bottom-left">
                                <div class="value-icon-circle-img">
                                    <img src="assets/images/value-devops.png">
                                    <span>Devops</span>
                                </div>
                            </div>
                            <!--value-icon-bottom-left-->
                            <div class="value-icon-circle value-icon-bottom-right">
                                <div class="value-icon-circle-img">
                                    <img src="assets/images/value-consulting.png">
                                    <span>Consulting & Strategy</span>
                                </div>
                            </div>
                            <!--value-icon-bottom-right-->

                        </div>
                        <!--value-proposition-right-->
                    </div>
                </div>
            </div>
        </section>
        <!--value-proposition-->

        <!--scope-services-->
        <section class="scope-services text-center">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Scope of Services</span>
                </h2>
                <ul class="scope-services-img">
                    <li><img src="assets/images/scope-services1.png" alt=""></li>
                    <li><img src="assets/images/scope-services2.png" alt=""></li>
                    <li><img src="assets/images/scope-services3.png" alt=""></li>
                    <li><img src="assets/images/scope-services4.png" alt=""></li>
                    <li><img src="assets/images/scope-services5.png" alt=""></li>
                </ul>
                <!--scope-services-img-->
            </div>
        </section>
        <!--scope-services-->

        <!--customized-training-->
        <section class="customized-training">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Customised training</span>
                    <span class="hhd-bottom">for the employer</span>
                </h2>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-1">
                        <div class="digital-box text-xs-center">
                            <img src="assets/images/customised-training.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 digital-col-2">
                        <div class="digital-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod te mpor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur
                            </p>
                        </div>
                    </div>
                </div>
                <!--digital-row-->
            </div>
        </section>
        <!--customized-training-->

        <!--flexible-training-->
        <section class="home-learning flexible-training">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Flexible Training Options</span>
                </h2>
                <div class="home-learning-boxes">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-left">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/learning-on-campus.png" alt="">
                                </div>
                                <h4>In-Class training</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-center">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/learning-on-remote2.png" alt="">
                                </div>
                                <h4>Private Training</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 hlb-right">
                            <div class="home-learning-box text-center">
                                <div class="hl-img">
                                    <img src="assets/images/learning-flex-remote.png" alt="">
                                </div>
                                <h4>Custom Training</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--home-learning-boxes-->
                <div class="flexible-training-bottom text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </p>
                </div>
                <!--flexible-training-bottom-->
            </div>
            <img src="assets/images/section-bottom-curve.png" alt="" class="section-bottom-curve">
        </section>
        <!--flexible-training-->


        <!--corporate-services-->
        <section class="corporate-services">
            <div class="container">
                <h2 class="home-heading-double text-center">
                    <span class="hhd-top">Corporate Services</span>
                </h2>
                <div class="row corporate-services-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 corporate-services-col-1">
                        <div class="corporate-services-img text-left text-xs-center">
                            <img src="assets/images/corporate/5251 1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-12 corporate-services-col-2">
                        <div class="corporate-services-content">
                            <h3 class="text-left text-xs-center">
                                College/university hire Bootcamp
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                    </div>
                </div>
                <!--corporate-services-row-->
                <div class="row corporate-services-row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-12 corporate-services-col-3">
                        <div class="corporate-services-content">
                            <h3 class="text-right text-xs-center">
                                Tailored Skill Training
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 corporate-services-col-4">
                        <div class="corporate-services-img text-left text-xs-center">
                            <img src="assets/images/corporate/21452 1.png" alt="">
                        </div>
                    </div>
                </div>
                <!--corporate-services-row-->
                <div class="row corporate-services-row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 corporate-services-col-5">
                        <div class="corporate-services-img text-left text-xs-center">
                            <img src="assets/images/corporate/candidate-01 1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-12 corporate-services-col-6">
                        <div class="corporate-services-content">
                            <h3 class="text-left text-xs-center">
                                Early experience talent hiring
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            </p>
                        </div>
                    </div>
                </div>
                <!--corporate-services-row-->
            </div>
        </section>
        <!--corporate-services-->

        <!--trainers-profile-->
        <section class="trainers-profile">
            <div class="container">
                <h2 class="home-heading-double text-left text-xs-center">
                    <span class="hhd-top">Trainers’ profiles</span>
                </h2>
                <div class="trainers-profile-in">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer1.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer2.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer3.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer4.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer5.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer6.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer7.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-12">
                            <div class="trainers-profile-box text-center">
                                <div class="trainers-profile-img">
                                    <a href="#"><img src="assets/images/trainer8.png" alt=""></a>
                                </div>
                                <div class="trainers-profile-content">
                                    <p>Alex Sierra <span>Trainer- JAVA</span></p>
                                    <ul class="trainer-social">
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="slowHover" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--trainer-social-->
                                </div>
                            </div>
                            <!--trainers-profile-box-->
                        </div>

                    </div>
                </div>
                <!--trainers-profile-in-->
            </div>
        </section>
        <!--trainers-profile-->

        <!--testimonials-->
        <section class="testimonials">
            <div class="container">
                <h2 class="home-heading-single text-center">Testimonials</h2>
                <div class="testimonials-desktop">
                    <div id="owl-testimonials-desktop-slider" class="owl-carousel">
                        <div class="item">
                            <div class="item-box">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial1.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Saras Gupta</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial2.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Dwane Johnson</h4>
                                                    <p>PHP Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial3.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Ken Leo</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial4.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Samantha Roberts</h4>
                                                    <p>UX Designer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="item-box">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial1.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Saras Gupta</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial2.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Dwane Johnson</h4>
                                                    <p>PHP Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial3.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Ken Leo</h4>
                                                    <p>JAVA Developer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="test-box">
                                            <div class="test-content">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                    nisi ut aliquip ex ea commod
                                                </p>
                                            </div>
                                            <div class="test-client-wrap">
                                                <div class="test-client">
                                                    <img src="assets/images/testimonial4.png" alt="">
                                                </div>
                                                <div class="test-client-details">
                                                    <h4>Samantha Roberts</h4>
                                                    <p>UX Designer,<br>App Labs</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-2-->
                    </div>
                    <!--owl-testimonials-desktop-slider-->
                    <div class="test-view-more text-center">
                        <a href="#" class="view-more-btn-link">View More</a>
                    </div>
                </div>
                <!--testimonials-desktop-->
                <!--testimonials-mobile-->
                <div class="testimonials-mobile">
                    <div id="owl-testimonials-mobile-slider" class="owl-carousel">
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial1.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Saras Gupta</h4>
                                        <p>JAVA Developer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial2.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Dwane Johnson</h4>
                                        <p>PHP Developer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial3.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Ken Leo</h4>
                                        <p>JAVA Developer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                        <div class="item">
                            <div class="test-box">
                                <div class="test-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
                                    </p>
                                </div>
                                <div class="test-client-wrap">
                                    <div class="test-client">
                                        <img src="assets/images/testimonial4.png" alt="">
                                    </div>
                                    <div class="test-client-details">
                                        <h4>Samantha Roberts</h4>
                                        <p>UX Designer,<br>App Labs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--item-1-->
                    </div>
                    <!--owl-testimonials-mobile-slider-->
                    <div class="test-view-more text-center">
                        <a href="#" class="view-more-btn-link">View More</a>
                    </div>
                </div>
                <!--testimonials-mobile-->
            </div>
        </section>
        <!--testimonials-->
        <app-contact-us-form></app-contact-us-form>