<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-search-col mobile-header-search">
                <div class="search-form-header">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Search for anything" name="search"
                            class="search-input slowHover">
                        <button type="submit" class="search-btn"></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-sm-12 col-xs-12 header-logo-col">
                <div class="header-logo">
                    <a href=""><img src="assets/images/logo.svg"  alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3  col-9 header-search-col desktop-header-search">
                <div class="search-form-header">
                    <app-search-bar [label]="'Search Programs'"></app-search-bar>
                </div>
            </div>
            <div class="col-lg-7 col-md-1 col-sm-9 col-3 navigation-col">
                <div class="navigation">
                    <span class="mobile-close"><i class="fa fa-times"></i></span>
                    <div class="stellarnav">
                        <ul class="main-ul">
                          <li [ngClass]="{'active' : path === 'courses'}"><a routerLink="courses">Individuals</a></li>
                          <li  [ngClass]="{'active' : path === 'companies'}">
                          <a href="javascript:none" [matMenuTriggerFor]="corpMenu">Companies</a>
                          <mat-menu #corpMenu="matMenu">
                            <a mat-menu-item routerLink="corporate">Training</a>
                            <a mat-menu-item routerLink="consulting">Consulting</a>
                            <a mat-menu-item routerLink="development">Product Development</a>
                            <a mat-menu-item routerLink="quality">Quality Assurance</a>
                            <a mat-menu-item routerLink="faq">FAQ</a>
                          </mat-menu>
                          </li>

                            <li>
                              <a href="javascript:none" [matMenuTriggerFor]="corpMenu">We</a>
                              <mat-menu #corpMenu="matMenu">
                                <a mat-menu-item routerLink="about-us">About Us </a>
                                <a mat-menu-item routerLink="contact-us">Contact Us</a>
                                <a mat-menu-item routerLink="faq">FAQ</a>
                              </mat-menu>
                            </li>

                            <div style="margin-left: 3rem" class="btn-group" role="group">
                              <a type="button" mat-stroked-button class="btn btn-outline-primary">Log In</a>
                              <a type="button" mat-stroked-button class="btn btn-outline-primary">Register</a>
                            </div>
<!--                             <li class="nav-login"><a href="#" >Login</a></li>-->

<!--                            <li class="nav-login"><a href="#"  >Sign Up</a></li>-->
                        </ul>
                    </div>
                    <!--stellarnav-->
                </div>
                <!--navigation-->
            </div>
            <!--navigation-col-->
        </div>
    </div>
</div>
<!--header-->
