.anchor {
  color: blue;
}

.sticky {
  background: #2075D7;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  li {
    a {
      color: white !important;
    }
  }
  app-search-bar {
    color: white !important;
  }
}


