<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 header-search-col mobile-header-search">
                <div class="search-form-header">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Search for anything" name="search"
                            class="search-input slowHover">
                        <button type="submit" class="search-btn"></button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-9 header-logo-col">
                <div class="header-logo">
                    <a href=""><img src="assets/images/logo.png" width="180" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-8 col-sm-3 col-9 header-search-col desktop-header-search">
                <div class="search-form-header">
                    <!-- <form action="" class="search-form">
                        <input type="text" placeholder="Search for anything" name="search"
                            class="search-input slowHover">
                        <button type="submit" class="search-btn"></button>
                    </form> -->
                    <app-search-bar [label]="'Search for anything'"></app-search-bar>
                </div>
            </div>
            <div class="col-lg-7 col-md-1 col-sm-9 col-3 navigation-col">
                <div class="navigation">
                    <span class="mobile-close"><i class="fa fa-times"></i></span>
                    <div class="stellarnav">
                        <ul class="main-ul">
                            <li [ngClass]="{'active' : path === 'courses'}"><a routerLink="courses">Courses</a></li>
                            <li [ngClass]="{'active' : path === 'corporate'}"><a routerLink="corporate">Corporate</a>
                            </li>
                            <li [ngClass]="{'active' : path === 'consulting'}"><a routerLink="consulting">Consulting</a>
                            </li>
                            <li [ngClass]="{'active' : path === 'about-us'}"><a routerLink="about-us">About Us </a></li>
                            <li [ngClass]="{'active' : path === 'contact-us'}"><a routerLink="contact-us">Contact Us</a>
                            </li>
                            <li [ngClass]="{'active' : path === 'faq'}"><a routerLink="faq">FAQ</a></li>
                            <li class="nav-login"><a href="" class="nav-login-btn">Login</a></li>
                        </ul>
                    </div>
                    <!--stellarnav-->
                </div>
                <!--navigation-->
            </div>
            <!--navigation-col-->
        </div>
    </div>
</div>
<!--header-->