<section class="testimonials">
    <div class="container">
        <h2 class="home-heading-single text-center">Testimonials</h2>
        <div class="testimonials-desktop">
            <div id="owl-testimonials-desktop-slider" class="owl-carousel">
                <div class="item">
                    <div class="item-box">
                        <div class="row">
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-1-->
                <div class="item">
                    <div class="item-box">
                        <div class="row">
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                            <div class="col-lg-6">
                                <app-testimonial-card></app-testimonial-card>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-2-->
            </div>
            <!--owl-testimonials-desktop-slider-->
            <div class="test-view-more text-center">
                <a href="#" class="view-more-btn-link">View More</a>
            </div>
        </div>
        <!--testimonials-desktop-->
        <!--testimonials-mobile-->
        <div class="testimonials-mobile">
            <div id="owl-testimonials-mobile-slider" class="owl-carousel">
                <div class="item">
                    <app-testimonial-card></app-testimonial-card>
                </div>
                <!--item-1-->
                <div class="item">
                    <app-testimonial-card></app-testimonial-card>
                </div>
                <!--item-1-->
                <div class="item">
                    <app-testimonial-card></app-testimonial-card>
                </div>
                <!--item-1-->
                <div class="item">
                    <app-testimonial-card></app-testimonial-card>
                </div>
                <!--item-1-->
            </div>
            <!--owl-testimonials-mobile-slider-->
            <div class="test-view-more text-center">
                <a href="#" class="view-more-btn-link">View More</a>
            </div>
        </div>
        <!--testimonials-mobile-->
    </div>
</section>