/***footer***/
.footer {
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #E9EBEB 100%);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #E9EBEB 100%);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #E9EBEB 100%);
  position: relative;
}

.footer-curve {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.footer-left {
  padding-right: 100px;
}

.footer-left h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 46px;
  color: #263238;
  margin: 0 0 10px;
}

.footer-left p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
}

.footer-in {
  padding: 190px 0 70px;
}

.footer-widget h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #263238;
  margin: 50px 0 10px;
}

.footer-widget ul {
  padding: 0;
  margin: 0;
}

.footer-widget ul li {
  display: block;
}

.footer-widget ul li a {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 46px;
  color: #000000;
}

.footer-widget ul li a:hover {
  color: #FF7F45;
}

.footer-social ul {
  margin: 15px 0 0;
  padding: 0;
}

.footer-social ul li {
  display: inline-block;
}

.footer-social ul li a {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #b0b0b0;
  line-height: 24px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  margin: 0 5px;
}

.footer-social ul li a:hover {
  background-color: #FF7F45;
}

.slowHover {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
