<div class="footer">
    <img src="assets/images/footer-curve.png" alt="" class="footer-curve">
    <div class="footer-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-8 col-12">
                    <div class="footer-left">
                        <h3>Pragra consulting </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-8 col-12">
                    <div class="footer-widget">
                        <h4>PRODUCT</h4>
                        <ul>
                            <li><a href="" class="slowHover">How it works</a></li>
                            <li><a href="" class="slowHover">About</a></li>
                            <li><a href="" class="slowHover">Individual</a></li>
                            <li><a href="" class="slowHover">Corporate</a></li>
                            <li><a href="" class="slowHover">Consulting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-12">
                    <div class="footer-widget">
                        <h4>SUPPORT</h4>
                        <ul>
                            <li><a href="" class="slowHover">Privacy Policy</a></li>
                            <li><a href="" class="slowHover">FAQ</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12">
                    <div class="footer-widget">
                        <h4>CONTACT</h4>
                        <ul>
                            <li><a href="mailto:809-347-1289" class="slowHover" target="_blank">info@pragra.com</a></li>
                            <li><a href="tel:8093471289" class="slowHover" target="_blank">809-347-1289</a></li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a href="" class="slowHover" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="slowHover" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" class="slowHover" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="right-reserved text-center">
                <p>&copy;2020 - Pragra. All right reserved</p>
            </div>
            <!--right-reserved-->
        </div>
    </div>
</div>
<!--footer-->